* {
	box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	min-width: 192px;
	font-family: Helvetica;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.page {
	position: relative;
	height: 100%;
	min-height: 100%;
	overflow-x: hidden;
}

.main-content.active,
.content__main.active {
	left: 20%;
} 

.main-content.active .wrapper {
	padding: 10px 20px 10px 30px;
}




/* MAIN-CONTENT */

.main-content {
	position: relative;
	height: 100%;
	width: 97%;
	left:3%;
	background: #fff;
	border: 1px solid #5d5d5d;
	transition: all 0.5s ease-out 0.2s;
}

.main-content.active {
	margin-left: 00%;
	width: 80%;
}

.active-main {
	padding-right: 200px;
}

.main-content .wrapper {
	padding: 10px 20px 10px 30px;
	margin:0 auto;
	max-width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: space-between;
	transition: all 1s;
	
}

.content-top {
	height: 115px;
	background: #fff;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}


.logo {
	font-size: 16px;
	line-height: 19px;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	font-family: Tahoma;
}

.title {
	font-size: 14px;
	color: #fff;
	margin: 0 auto;
	line-height: 19px;
	color: #fff;
	text-shadow: -3px 2px 5px black;
}


.top-menu {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	font-size: 18px;
}


.activity {
	margin-left: 35px;
}
.activity a {
	color: #95a0aa;
	text-decoration: none;
}

.activity a:hover {
	text-decoration: underline;
}

.notifications a {
	color: #95a0aa; 
	text-decoration: none;
}

.notifications a:hover {
	text-decoration: underline;
}

.notifications {
	margin-left: 50px;
	position: relative;
}

.notifications:after {
	content: "18";
	position: absolute;
	top: -14px;
	right: -10px;
	text-align: center;
	line-height: 18px;
	display: block;
	font-size: 10px;
	color: #fff;
	border-radius: 50%;
	width: 18px;
	height: 18px;
	background: #f86b4f;
}



/* BTN */

#nav-btn {
 position: absolute;
 cursor: pointer;
 top: 40px;
 border-radius: 5px;
 right: -20px;
 display: inline-block;
 width: 43px; 
 height: 25.75px;
 background-color: #64C7CC;
 margin: 14.88px 0;
}

#nav-btn:before,
#nav-btn:after {
 content: "";
 position: absolute;
 width: 0;
 border-left: 21.5px solid transparent;
 border-right: 21.5px solid transparent;
}

#nav-btn:before {
 border-radius: 15px;
 bottom: 90%;
 border-bottom: 15.88px solid #64C7CC;
}

#nav-btn:after {
 border-radius: 15px;
 top: 92%;
 width: 0;
 border-top: 15.88px solid #64C7CC;
}

#nav-btn #nav-img {
  top:12px;
  left: 9px;
  width: 26px;
  height: 2px;
  background-color: #fff;
  display: block;
  position: relative;
  transition: background-color 0.25s;
}

#nav-btn #nav-img::after, #nav-btn #nav-img::before {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  width: 26px;
  background-color: #fff;
  transition: top 0.25s, transform 0.35s;
}

#nav-btn #nav-img::after {
  top: 4px;
  left: 0;
}

#nav-btn #nav-img::before {
  top: -4px;
  left: 0;
}

#nav-btn.active #nav-img {
  background-color: #fff;
}

#nav-btn.active #nav-img::after {
  top: 0px;
  transform: translate(0px,6px);
}

#nav-btn.active #nav-img::before {
  top: 0px;
  transform: translate(0px,-6px);
}

.icon-menu {	
	width: 15px;
	cursor: pointer;
	position: relative;
	top: 35px;
	left: -18px;
}



.divide {
	display: block;
	background: #fff;
	height: 2px;
	margin: 3px 0; 
}

.divide:nth-child(1) {
	margin-top: 0;
}



/* CONTENT */ 

.content .wrapper {
	margin: 0 auto;
	max-width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

/* CONTENT_SIDEBAR */

.content__sidebar {
	position: fixed;
	top: 0;
	left: -17%;
	width: 20%;
	height: 100%;
	background: #2c3e50;
	-webkit-transition: left 0.5s ease-out 0.2s;
	-moz-transition: left 0.5s ease-out 0.2s;
	-o-transition: left 0.5s ease-out 0.2s;
	transition: left 0.5s ease-out 0.2s;
}

.content__sidebar.active {left: 0;}

/* CONTENT__MAIN */



