* {
	box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	min-width: 192px;
	font-family: Helvetica;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	cursor: pointer;
}


.page {
	position: relative;
	height: 100%;
	min-height: 100%;
	overflow-x: hidden;
}

.main-content.active,
.content__main.active {
	left: 23%;
} 

.main-content.active .wrapper {
	padding: 10px 20px 10px 30px;
}




/* MAIN-CONTENT */

.main-content {
	position: relative;
	height: 100%;
	width: 94%;
	left:6%;
	background: #fff;
	border: 1px solid #5d5d5d;
	transition: all 0.5s ease-out 0.2s;
}

.main-content.active {
	width: 77%;
}

.active-main {
	padding-right: 200px;
}

.main-content .wrapper {
	padding: 10px 20px 10px 30px;
	margin:0 auto;
	max-width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: space-between;
	transition: all 1s;
	flex-direction: column;
}

.content-top {
	height: 115px;
	background: #fff;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}


.logo {
	font-size: 16px;
	line-height: 19px;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	font-family: Tahoma;
}

.title {
	font-size: 14px;
	color: #fff;
	margin: 0 auto;
	line-height: 19px;
	color: #fff;
	text-shadow: -3px 2px 5px black;
}


.top-menu {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	font-size: 18px;
}


.activity {
	margin-left: 35px;
}
.activity a {
	color: #95a0aa;
	text-decoration: none;
}

.activity a:hover {
	text-decoration: underline;
}

.notifications a {
	color: #95a0aa; 
	text-decoration: none;
}

.notifications a:hover {
	text-decoration: underline;
}

.notifications {
	margin-left: 50px;
	position: relative;
}

.notifications:after {
	content: "18";
	position: absolute;
	top: -14px;
	right: -10px;
	text-align: center;
	line-height: 18px;
	display: block;
	font-size: 10px;
	color: #fff;
	border-radius: 50%;
	width: 18px;
	height: 18px;
	background: #f86b4f;
}

.user {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.root-hexagon {
 background: url(../img/user.png) no-repeat center center;
 border-radius: 5px;
 right: -210px;
 display: inline-block;
 width: 41px; 
 height: 22.75px;

 margin: 14.88px 0;
}

.root-hexagon:before,
.root-hexagon:after {
 content: "";
 position: absolute;
 width: 0;
 border-left: 20.5px solid transparent;
 border-right: 20.5px solid transparent;
}

.root-hexagon:before {
 top: 36px;
 border-radius: 15px;
 bottom: 93%;
 border-bottom: 16.88px solid #64C7CC;
}

.root-hexagon:after {
 border-radius: 15px;
 top: 83px;
 width: 0;
 border-top: 15.88px solid #64C7CC;
}

.cusel {
	margin-left: 10px;
}




/*Blue Box*/
.box-menu{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.box-item{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 220px;
	/*width:160px;*/
	color:#fff;
	width: 20%;
}


.box-item a { 
	text-align: center;
	text-decoration: none;
}

.box-item a img{
	width: 55px;
	height: 55px;
}


.box-item h3{
	font-size: 23px;
	margin-top: 20px;
	color:#fff;
	font-weight: normal;
}

.box-item:first-child  {background-color: #5FAEE3;}

.box-item:nth-child(2) {background-color:#6EB5E5;}

.box-item:nth-child(3) {background-color: #7CBDE8;}

.box-item:nth-child(4) {background-color: #8BC4EA;}

.box-item:last-child {background-color: #99CBED;}


/*Blue box ends*/


/* BTN */

#nav-btn {
 position: absolute;
 cursor: pointer;
 top: 40px;
 border-radius: 5px;
 right: -20px;
 display: inline-block;
 width: 43px; 
 height: 25.75px;
 background-color: #64C7CC;
 margin: 14.88px 0;
}

#nav-btn:before,
#nav-btn:after {
 content: "";
 position: absolute;
 width: 0;
 border-left: 21.5px solid transparent;
 border-right: 21.5px solid transparent;
}

#nav-btn:before {
 border-radius: 15px;
 bottom: 90%;
 border-bottom: 15.88px solid #64C7CC;
}

#nav-btn:after {
 border-radius: 15px;
 top: 92%;
 width: 0;
 border-top: 15.88px solid #64C7CC;
}

#nav-btn #nav-img {
  top:12px;
  left: 9px;
  width: 26px;
  height: 2px;
  background-color: #fff;
  display: block;
  position: relative;
  transition: background-color 0.25s;
}

#nav-btn #nav-img::after, #nav-btn #nav-img::before {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  width: 26px;
  background-color: #fff;
  transition: top 0.25s, transform 0.35s;
}

#nav-btn #nav-img::after {
  top: 4px;
  left: 0;
}

#nav-btn #nav-img::before {
  top: -4px;
  left: 0;
}

#nav-btn.active #nav-img {
  background-color: #fff;
}

#nav-btn.active #nav-img::after {
  top: 0px;
  transform: translate(0px,6px);
}

#nav-btn.active #nav-img::before {
  top: 0px;
  transform: translate(0px,-6px);
}

.icon-menu {	
	width: 15px;
	cursor: pointer;
	position: relative;
	top: 35px;
	left: -18px;
}

.divide {
	display: block;
	background: #fff;
	height: 2px;
	margin: 3px 0; 
}

.divide:nth-child(1) {
	margin-top: 0;
}



/* CONTENT */ 

.content .wrapper {
	margin: 0 auto;
	max-width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

/* CONTENT_SIDEBAR */

.content__sidebar {
	position: fixed;
	top: 0;
	left: -17%;
	width: 23%;
	height: 100%;
	background: #34495e;
	-webkit-transition: left 0.5s ease-out 0.2s;
	-moz-transition: left 0.5s ease-out 0.2s;
	-o-transition: left 0.5s ease-out 0.2s;
	transition: left 0.5s ease-out 0.2s;
}

.content__sidebar.active {left: 0;}

.left-menu-logo{
  margin-left: 40px;
  margin-top: 45px;
  width: 190px;
}

.menu-icons{
	width: 20px;
}

.menu-list {
  margin-top: 40px;
  padding: 0;
  font-weight: 600;
}

.menu-list-item {
  position: relative;
  font-size: 20px;
  color: #98a2ad;
  line-height: 90px;
  list-style: none;
}

.menu-list-name {
  margin-left: 40px;
  display: inline-block;
}

.circle{
  text-align: center;
  line-height: 26px;
  font-size: 11px;
  color: white;
  position: absolute;
  right: 34px;
  top: 30px;
  display: inline-block;
  background-color: #95a0aa;
  height: 26px;
  width: 26px;
  border-radius: 50%;
}

.sub-menu {
  list-style: none;
  line-height: 28px;
}

.sub-menu-item {
  font-size: 16px;
  margin-left: 70px;
  margin-bottom: 15px;
}

.menu-list-item:hover{
  background-color: #2c3e50;
  border-left: 5px solid #5faee3;
}

.menu-list-item:hover .circle{
  background-color: #f86b4f;
  
}

.sub-menu:hover{
  visibility: visible;
}

/* CONTENT__MAIN */



